/*Reset css*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
}
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/*Helper*/
.container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  margin: 0 auto;
}
/*Start of the site -------------------------------------------*/
/*Header -------------------------------------------*/
.space{
  content: '';
  width: 100%;
  height: 6rem;
  background-color: #fff;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.639); /* Cambia el color de fondo y ajusta la opacidad según tu diseño */
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 5px #00000020;
  z-index: 1000; 
}
.navbar-container-links {
  display: flex;
  gap: 2rem;
  font-size: 1.6em;
}
.navbar-container-links .help-link {
  cursor: pointer;
}
.navbar-container-links .menu-item {
  position: relative;
}
.navbar-container-links .sub-menu {
  width: 25rem;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 2px 2px 5px #00000076;
  border-radius: 10px;
  z-index: 3;
  color: #000;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out; 
  pointer-events: none;
}
.navbar-container-links .menu-item:hover .sub-menu {
  opacity: 1;  
  pointer-events: auto; 
}
.navbar-container-links .sub-menu li {
  padding: 1.6rem;
}
.navbar-container-links .sub-menu li a {
  transition: .2s ease-in-out;
}
.navbar-container-links .sub-menu li a:hover {
  color:#6088EF;
}
.navbar-container-logo .logo-link {
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
}
.navbar-container-buttons {
  display: flex;
  gap: 2rem;
}
.navbar-container-buttons .btn-1,
.btn-2 {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
}
.navbar-container-buttons .btn-1{
  width: 8rem;
  height: 4rem;
  display:flex;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 600;
  background-color: #fff;
}
.navbar-container-buttons .btn-2{
  width: 12rem;
  height: 4rem;
  display:flex;
  justify-content: center;
  font-weight: 600;
  background-color: #6088EF;
  color:#fff;
  border: transparent;
  border-radius: 5px;
  transition: .2s ease-in-out;
}
.navbar-container-buttons .btn-2:hover{
  background-color: #3663d6;
}
.navbar-container-buttons img {
  width: 2rem;
}
/*Main -------------------------------------------*/
.main {
  width: 100%;
  min-height: 100vh;
}
.main-principal-carrousel {
  position: relative;
  z-index: 1;
}
.degrade{
  position: absolute;
  content: '';
  background-image: linear-gradient(to bottom, transparent, #fff);
  width: 100%;
  height: 80vh;
  z-index: 2;
  bottom:0;
}
.carrousel-main-img {
  width: 100%;
  height: 110vh;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  filter: brightness(80%);
}
.container-data-entry-template {
  position: absolute;
  z-index: 2;
  display:flex;
  flex-direction: column;
  align-items: center;
  top:35%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.data-entry-template{
  width: 80rem;
  height: 8rem;
  border-radius: 100px;
  display:flex;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  gap:.1rem;
}
.destiny-data-entry,
.calendar-data-entry,
.passengers-data-entry{
  display:flex;
  gap:1rem;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem 4rem 2rem 4rem;
  box-shadow: 2px 2px 5px #00000076;
}
.search{
  background-color: #6088EF;
  border-radius: 10px;
  padding: 2rem 4rem 2rem 4rem;
  color:#fff;
  box-shadow: 2px 2px 5px #00000076;
  cursor: pointer;
}
.container-data-entry-template .icon-arrow-down {
  font-size: 4em;
  color:#fff;
  padding-top: 6rem;
  cursor: pointer;
}
.animation-principal-text{
  font-size: 5em;
  color: #fff;
  padding-bottom: 2rem;
  font-weight: 700;
}
.animation-principal-text span{
  animation: animate 4s linear;
}
.span-right{
  margin-right: 20px;
}
.animation-principal-text span:nth-child(1){
  animation-delay: 0s;
}
.animation-principal-text span:nth-child(2){
  animation-delay: 0.1s;
}
.animation-principal-text span:nth-child(3){
  animation-delay: 0.2s;
}
.animation-principal-text span:nth-child(4){
  animation-delay: 0.3s;
}
.animation-principal-text span:nth-child(5){
  animation-delay: 0.4s;
}
.animation-principal-text span:nth-child(6){
  animation-delay: 0.5s;
}
.animation-principal-text span:nth-child(7){
  animation-delay: 0.6s;
}
.animation-principal-text span:nth-child(8){
  animation-delay: 0.7s;
}
.animation-principal-text span:nth-child(9){
  animation-delay: 0.8s;
}
.animation-principal-text span:nth-child(10){
  animation-delay: 0.9s;
}
.animation-principal-text span:nth-child(11){
  animation-delay: 1s;
}
.animation-principal-text span:nth-child(12){
  animation-delay: 1.1s;
}
.animation-principal-text span:nth-child(13){
  animation-delay: 1.2s;
}
.animation-principal-text span:nth-child(14){
  animation-delay: 1.3s;
}
.animation-principal-text span:nth-child(15){
  animation-delay: 1.4s;
}
.animation-principal-text span:nth-child(16){
  animation-delay: 1.5s;
}
.animation-principal-text span:nth-child(17){
  animation-delay: 1.6s;
}
.animation-principal-text span:nth-child(18){
  animation-delay: 1.7s;
}
.animation-principal-text span:nth-child(19){
  animation-delay: 1.8s;
}
.animation-principal-text span:nth-child(20){
  animation-delay: 1.9s;
}
.animation-principal-text span:nth-child(21){
  animation-delay: 2s;
}
.animation-principal-text span:nth-child(22){
  animation-delay: 2.1s;
}
.animation-principal-text span:nth-child(23){
  animation-delay: 2.2s;
}
.animation-principal-text span:nth-child(24){
  animation-delay: 2.3s;
}
.animation-principal-text span:nth-child(25){
  animation-delay: 2.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container-most-visited-destinations{
  position: absolute;
  z-index: 2;
  top:75%;
  left: 50%;
  transform: translate(-50%,-50%);
  align-items: center;
  display:flex;
  flex-direction: column;
  gap:2rem;
}
.container-most-visited-destinations h2{
  color:#000;
  font-size: 2rem;
}
.containter-carrousel-most-visited-destinations{
  display:flex;
  gap:1rem;
}
.carrousel-card{
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #00000028;
  display:flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
}
.carrousel-card:hover .carrousel-img {
  transform: scale(1.1);
}
.carrousel-card strong{
  margin-right: 1rem;
}
.carrousel-card p{
  font-size: 1.6em;
  display:flex;
  justify-content: center;
  padding-top: 2rem;
}
.carrousel-img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 18vh;
  transition: .3s ease-in-out;
}
/*Offers and blog -------------------------------------------*/
.offers-and-blog{
  display:flex;
  justify-content: space-around;
  padding-top: 8rem;
}
.container-offers-and-blog{
  display:flex;
}
.container-offers h1{
  font-size: 3em;
  padding-bottom: 2rem;
}
.offers{
  display:flex;
  flex-direction: column;
  gap:2rem;
}
.offer-1,
.offer-2{
  width: 90%;
  background-color: #131667;
  display:flex;
  height: 28rem;
  border-radius: 10px;
  color:#fff;
}
.contain-offer-1,
.contain-offer-2{
  padding: 2rem;
  display:flex;
  flex-direction: column;
  font-size: 1.5em;
  align-items: center;
  justify-content: space-between;
}
.btn-apply{
  padding-left: 8rem;
}
.apply{
  width: 10rem ;
  height: 3rem;
  background-color: transparent;
  border: transparent;
  color:#fff;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.offer-1 img,
.offer-2 img{
  width: 70%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}
.title-blog-and-see-all-btn{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}
.title-blog-and-see-all-btn h2{
  font-size: 1.8em;
}
.title-blog-and-see-all-btn a{
  font-size: 1.5em;
  font-weight: 600;
  display:flex;
  align-items: center;
  gap:.5rem;
}
.blog{
  display:flex;
  flex-direction: column;
  gap:1rem;
}
.blog-card{
  width: 30rem;
  display:flex;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #00000028;
}
.blog-card img{
  width: 15rem;
  height: 13rem;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 10px;
  filter:opacity(70%);
  object-fit: cover;
}
.blog-card-contain-top{
  padding: .5rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.blog-card-contain-top h4{
  font-size: 1.2em;
}
.blog-card-contain-top h5{
  font-size: 1em;
  color:#AFAFAF;
}
.blog-card-contain p{
  padding: 1rem;
  font-size: 1.2em;
  max-width: 150px;
}
.blog-card-contain-bottom{
  display:flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
}
.blog-card-contain-bottom h5{
  color: #6088EF;
  cursor: pointer;
}
.blog-card-contain-bottom a{
  display:flex;
  align-items: center;
  color: #131667;
  font-weight: 600;
  font-size: 1rem;
}
/*TravelSafe -------------------------------------------*/
.travel{
  width: 100%;
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('https://res.cloudinary.com/duumn6wv5/image/upload/travel-hub/avion_xjveer');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.effect-white,
.effect-white-2{
  content: '';
  background-color: #fff;
  width: 100vw;
  height: 10vh;
  transition: height .8s ease-in-out; 
  position: absolute;
}
.effect-white{
  bottom:0;
}
.effect-white-2{
  top:0;
}
.travel-safe-contain{
  position: absolute;
  width: 60rem;
  top: 10%;
  right: 5%;
  background-color: #fff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.5rem;
}
.travel-safe-contain h1{
  font-size: 5em;
  color:#6088EF;
  text-align: center;
  padding-bottom: 5rem;
}
.travel-safe-contain h2{
  max-width: 600px;
  font-size: 3em;
  padding-bottom: 5rem;
}
.qualification{
  display:flex;
  gap: 2rem;
  font-size: 3em;
  color:#6088EF;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.qualification .star-1,
.qualification .star-2,
.qualification .star-3,
.qualification .star-4,
.qualification .star-5 {
  animation: fadeUp 2s infinite;
}
.qualification .star-1 {
  animation-name: fadeUp;
}
.qualification .star-2 {
  animation-name: fadeUp;
  animation-delay: 0.2s;
}
.qualification .star-3 {
  animation-name: fadeUp;
  animation-delay: 0.4s; 
}
.qualification .star-4 {
  animation-name: fadeUp;
  animation-delay: 0.6s; 
}
.qualification .star-5 {
  animation-name: fadeUp;
  animation-delay: 0.8s; 
}
/*Reviews-------------------------------------------*/
.container-reviews{
  width: 100%;
  min-height: 100vh;
  background-color: #C4D3F8;
  position: relative;
  padding-bottom: 6rem;
}
.degrade-2{
  position: absolute;
  content: '';
  background-image: linear-gradient(to bottom, transparent, #ffffff);
  width: 100%;
  height: 40vh;
  z-index: 2;
  bottom:0;
}
.degrade-3{
  position: absolute;
  content: '';
  background-image: linear-gradient(to bottom, transparent, #ffffff);
  width: 100%;
  height: 40vh;
  z-index: 2;
  top:0;
  transform: rotate(-180deg);
}
.reviews{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  gap:2rem;
  padding: 2rem;
}
.reviews h1{
  z-index: 3;
}
.container-reviews-cards{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:2rem;
}
.container-reviews-card-top{
  display:flex;
  justify-content: flex-end;
  gap:2rem;
}
.container-reviews-card-bottom{
  display:flex;
  justify-content: flex-start;
  gap:2rem;
}
.review-card{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
  height: 30rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
}
.review-card h5{
  font-size: 1.2em;
  color: #6088EF;
  font-style: italic;
  cursor: pointer;
  z-index: 3;
}
.review-card p{
  font-size: 1.5em;
}
.review-card-username{
  display:flex;
  gap:1rem;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
}
.review-card-username h4{
  font-size: 1.5em;
}
.container-img-username{
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
}
.container-img-username img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}
.user-icon-img{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #131667;
}
.container-img-username svg{
  color:#fff;
  font-size: 2em;
}
/*Newsletter-------------------------------------------*/
.container-news{
  padding: 0 2rem 1rem 2rem;
}
.arrow-up{
  background-color: #fff;
  width: 10rem;
  height: 5rem;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  color:#000;
  position: absolute;
  bottom:-8%;
  right:5%;
}
.arrow-up svg{
  transition: .2s ease-in-out;
}
.arrow-up:hover svg{
  transform: translateY(-5px)
}
.newsletter{
  width: 100%;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131667;
  border-radius: 20px;
  color: #fff;
  position: relative;
}
.newsletter h1{
  font-size: 3em;
  padding-bottom: 2rem;
}
.form-news-letter{
  font-size: 1.8em;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.form-news-letter input{
  width: 50rem;
  height: 6rem;
  border: transparent;
  border-radius: 10px;
  padding: 2rem;
}
.form-news-letter button{
  width: 10rem;
  height: 6rem;
  background-color: #6088EF;
  color: #fff;
  border: transparent;
  border-radius: 10px;
  margin-left: 1px;
  cursor: pointer;
}
.form-news-letter h4{
  padding-top: 2rem;
  max-width: 500px;
  font-weight: 200;
  text-align: center;
}
/*Footer-------------------------------------------*/
.container-footer{
  padding: 0 2rem 0 2rem;
  min-height: 60vh;
}
.footer{
  width: 100%;
  min-height: 60vh;
  background-color: #131667;
  border-radius: 20px;
  color: #fff;
  display:flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: space-between;
}
.footer h2{
  font-size: 2em;
}
.footer-links{
  display:flex;
  justify-content: space-around;
}
.footer-links h3{
  font-size: 1.8em;
  padding-bottom: 2rem;
}
.footer-links ul li{
  font-size: 1.5em;
  cursor: pointer;
}
.copy{
  display:flex;
  font-size: 1.5em;
  justify-content: center;
}