/*Reset css*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Start of the site -------------------------------------------*/
/*Header*/
.navbar{
  width: 100%;
  display:flex;
  justify-content: space-between;
  padding: 2rem;
}

.navbar-container-links{
  display:flex;
  gap:2rem;
  font-size: 1.6em;
}

.navbar-container-links .blog-link,
.help-link {
  cursor: pointer;
}

.navbar-container-logo .logo-link{
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
}

.navbar-container-buttons{
  display:flex;
  gap:2rem;
}

.navbar-container-buttons .btn-1,
.btn-2 {
  display:flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
}

.navbar-container-buttons img {
    width: 2rem;
}